.table-responsive {
    border-radius: var(--in-border-radius);
}

.negative-m-17 {
    margin-left: -17.5px;
}

.invoice-table {
    td {
        min-width: 120px;
    }

    td.action {
        min-width: min-content;
    }
}