<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">Users</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <dx-data-grid #grid [dataSource]="data" (onInitNewRow)="newRow($event)"
                    (onEditorPreparing)="onEditorPreparing($event)" (onSaved)="saved($event)" (onRowUpdated)="reload()"
                    (onRowInserted)="reload()" (onRowRemoved)="reload()">
                    
                    <dxi-column [allowFiltering]="false" [allowResizing]="false" [allowSorting]="false" [allowSearch]="false" [width]="80" dataField="avatar" caption="" cellTemplate="avatarCell" editCellTemplate="avatarEdit">
                        <div *dxTemplate="let d of 'avatarCell'">
                            <img [src]="d.data.avatar ? apiURL + d.data.id + '/' + d.data.avatar : 'assets/images/users/user-dummy-img.jpg'" alt="Avatar" width="40" height="40" style="border-radius: 50%;">
                        </div>
                        <div *dxTemplate="let d of 'avatarEdit'" class="text-center">
                            <img id="dropzone-external" [src]="d.data.avatar ? apiURL + d.data.id + '/' + d.data.avatar : 'assets/images/users/user-dummy-img.jpg'" alt="Avatar" width="40" height="40" style="border-radius: 50%;">
                            <dx-file-uploader #uploader
                                dialogTrigger="#dropzone-external"
                                dropZone="#dropzone-external"
                                [multiple]="false"
                                selectButtonText="+"
                                accept="image/*"
                                [visible]="false"
                                (onValueChanged)="fileAdded($event)"
                                uploadMode="instantly">
                          </dx-file-uploader>
                        </div>
                    </dxi-column>

                    <dxi-column dataField="name" caption="Name">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="email" caption="Email">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        <dxi-validation-rule type="email"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="password" caption="Password"></dxi-column>
                    <dxi-column dataField="verified" caption="Verified" dataType="boolean"></dxi-column>

                    <dxi-column [visible]="false" dataField="created" caption="Created" dataType="date"></dxi-column>
                    <dxi-column [visible]="false" dataField="updated" caption="Updated" dataType="date"></dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>
