<div class="h-100 d-flex flex-column">
    <div class="row">
        <div class="col-3">
            <eenvo-stats-widget [name]="'Cashflow'" [title]="'Cashflow last 31 days'" [data]="data"
                [secondaryColor]="'bg-primary'"></eenvo-stats-widget>
        </div>
        <div class="col-3">
            <eenvo-stats-widget [name]="'Income'" [title]="'Income last 31 days'" [data]="inflow"
                [secondaryColor]="'bg-success'"></eenvo-stats-widget>
        </div>
        <div class="col-3">
            <eenvo-stats-widget [name]="'Expenses'" [title]="'Expenses last 31 days'" [data]="expenses"
                [secondaryColor]="'bg-success'"></eenvo-stats-widget>
        </div>
        <div class="col-3">
            <eenvo-stats-widget [name]="'Net income'" [title]="'Net income last 31 days'" [data]="dataNetIncome"
                [secondaryColor]="'bg-danger'" [color]="'primary'"></eenvo-stats-widget>
        </div>
    </div>
    <div class="row h-grow">
        <div class="col-lg-12 h-grow">
            <div class="card h-grow m-0">
                <div class="card-body h-grow">
                    <div class="contain h-grow">
                        <dx-data-grid class="contain-grid" #grid [dataSource]="data" (onInitNewRow)="initNewRow($event)"
                            (onSaved)="saved($event)" (onEditingStart)="editTransaction($event)"
                            (onRowUpdated)="reload()" (onRowInserted)="reload()" (onEditorPreparing)="editorPreparing($event)">
                            <dxo-toolbar>
                                <dxi-item>
                                    <div *dxTemplate>
                                        <select class="form-select form-select-sm border-0" [(ngModel)]="selectedYear"
                                            (change)="reload()">
                                            <option [value]="currentYear" selected>{{currentYear}}</option>
                                            <option [value]="currentYear - 1">{{currentYear - 1}}</option>
                                            <option [value]="currentYear - 2">{{currentYear - 2}}</option>
                                            <option [value]="currentYear - 3">{{currentYear - 3}}</option>
                                            <option [value]="currentYear - 4">{{currentYear - 4}}</option>
                                        </select>
                                    </div>
                                </dxi-item>
                                <dxi-item name="groupPanel"></dxi-item>
                                <dxi-item location="after">
                                    <div *dxTemplate>
                                        <dx-button stylingMode="text" (click)="newTransaction()" icon="add"
                                            [text]="'New' | translate"> </dx-button>
                                    </div>
                                </dxi-item>
                                <dxi-item location="after">
                                    <div *dxTemplate>
                                        <dx-button stylingMode="text" icon="refresh" (onClick)="reload()"> </dx-button>
                                    </div>
                                </dxi-item>
                                <dxi-item name="exportButton"></dxi-item>
                                <dxi-item name="columnChooserButton"></dxi-item>
                                <dxi-item name="searchPanel"></dxi-item>
                            </dxo-toolbar>
                            <dxi-column dataField="type" dataType="string" [caption]="'Type' | translate"
                                cellTemplate="typeTemplate">
                                <dxo-lookup [dataSource]="types" valueExpr="value" displayExpr="name"></dxo-lookup>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <div *dxTemplate="let d of 'typeTemplate'" class="text-center"
                                    [class.text-danger]="d.data?.type == 'out'"
                                    [class.text-success]="d.data?.type == 'in'">
                                    @if (d.data?.type == 'in') {
                                    <i class="ri-arrow-right-down-fill"></i>
                                    } @else {
                                    <i class="ri-arrow-right-up-fill"></i>
                                    }
                                </div>
                            </dxi-column>
                            <dxi-column dataField="title" [caption]="'Title' | translate">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="category" [caption]="'Category' | translate"
                                editCellTemplate="tagsEdit" cellTemplate="tagsTemplate" [calculateFilterExpression]="calculateFilterExpression">
                                <dxo-lookup [dataSource]="categories" displayExpr="name" valueExpr="id">
                                </dxo-lookup>
                                <div *dxTemplate="let d of 'tagsEdit'">
                                    <dx-tag-box [items]="categories" [acceptCustomValue]="true" [value]="d.value"
                                        (onCustomItemCreating)="onCustomItemCreating($event)" displayExpr="name" valueExpr="id"
                                        (onValueChanged)="d.setValue($event.value)"
                                        (onSelectionChanged)="d.component.updateDimensions()"
                                        [inputAttr]="{ 'aria-label': 'Category' }" >
                                    </dx-tag-box>
                                </div>
                                <div *dxTemplate="let d of 'tagsTemplate'">
                                    @for(category of d.data?.expand?.category; track $index) { <span
                                        class="badge badge-soft-info me-1">
                                        {{ category.name }} </span> }
                                </div>
                            </dxi-column>
                            <dxi-column dataField="total" [caption]="'Total' | translate" dataType="number"
                                format="#,##0.00" cellTemplate="totalTemplate">
                                <div *dxTemplate="let d of 'totalTemplate'" [class.text-danger]="d.data?.type == 'out'"
                                    [class.text-success]="d.data?.type == 'in'">
                                    @if (d.data?.type == 'in') {
                                    <span>+</span>
                                    } @else {
                                    <span>-</span>
                                    }
                                    {{ d.data.total | currencyFormat }}
                                </div>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="date" [caption]="'Date' | translate" dataType="date">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column [editorOptions]="{ disabled: true }" dataField="expand.invoice.number"
                                [caption]="'Invoice' | translate"></dxi-column>
                            <dxi-column [editorOptions]="{ disabled: true }" dataField="expand.expense.title"
                                [caption]="'Expense' | translate"></dxi-column>
                            <dxi-column [visible]="false" dataField="created" [caption]="'Created' | translate"
                                dataType="date"></dxi-column>
                            <dxi-column [visible]="false" dataField="updated" [caption]="'Updated' | translate"
                                dataType="date"></dxi-column>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>