<div class="card my-auto overflow-hidden">
    <div class="row g-0">
        <div class="col-lg-6 mx-auto">
            <div class="p-lg-5 p-4">
                <div class="text-center">
                    <h5 class="mb-0">{{ 'Welcome Back!' | translate }}</h5>
                    <p class="text-muted mt-2">{{ 'Sign in to continue to' | translate }} <span class="text-primary">{{
                            'eenvo' | translate }}</span>.</p>
                </div>

                <div class="mt-4">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="auth-input">
                            <div class="mb-3">
                                <label for="email" class="form-label">{{ 'Email' | translate }}</label>
                                <input formControlName="email" type="text" class="form-control" id="email"
                                    placeholder="{{ 'Enter email' | translate }}">
                            </div>

                            <div class="mb-2">
                                <label for="userpassword" class="form-label">{{ 'Password' | translate }}</label>
                                <div class="position-relative auth-pass-inputgroup mb-3">
                                    <input formControlName="password" [attr.type]="passwordVisible ? 'text' : 'password'"
                                        class="form-control pe-5 password-input"
                                        placeholder="{{ 'Enter password' | translate }}" id="password-input">
                                    <button (click)="passwordVisible=!passwordVisible"
                                        class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                        type="button" id="password-addon"><i
                                            class="las la-eye align-middle fs-18"></i></button>
                                </div>
                            </div>

                            <div class="form-check form-check-primary fs-16 py-2 mb-3">
                                <div class="float-end">
                                    <a [routerLink]="['/auth/auth-pass-reset']"
                                        class="text-muted text-decoration-underline fs-14">{{ 'Forgot your password?' |
                                        translate }}</a>
                                </div>
                            </div>

                            <div class="mt-2">
                                <button class="btn btn-primary w-100" type="submit">{{ 'Log In' | translate }}</button>
                            </div>

                            <div class="mt-4 text-center">
                                <div class="signin-other-title">
                                    <h5 class="fs-15 mb-3 title">{{ 'Sign in with' | translate }}</h5>
                                </div>

                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button (click)="googleSignIn()" type="button"
                                            class="social-list-item bg-danger text-white border-danger">
                                            <i class="mdi mdi-google"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button type="button" (click)="microsoft()"
                                            class="social-list-item bg-secondary text-white border-secondary">
                                            <i class="mdi mdi-microsoft"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button type="button" (click)="github()"
                                            class="social-list-item bg-dark text-white border-dark">
                                            <i class="mdi mdi-github"></i>
                                        </button>
                                    </li>
                                </ul>

                            </div>

                            <div class="mt-4 text-center">
                                <p class="mb-0">{{ "Don't have an account ?" | translate }} <a
                                        [routerLink]="['/auth/auth-signup']"
                                        class="fw-medium text-primary text-decoration-underline">{{ 'Signup now' |
                                        translate }}</a> </p>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>