<div class="row">
    <div class="col-lg-6 mx-auto col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">{{ 'Company' | translate }}</h4>
            </div>
            <dx-file-uploader #uploader dialogTrigger="#dropzone-external" dropZone="#dropzone-external" [multiple]="false" selectButtonText="{{ '+' | translate }}" accept="image/*" [visible]="false" (onValueChanged)="fileAdded($event)" uploadMode="instantly">
            </dx-file-uploader>
            <div class="card-body">
                <form [formGroup]="companyForm" (ngSubmit)="submit()" class="container mt-4">
                    <div class="mb-3 text-center">
                        <img id="dropzone-external" [src]="this.logo" onerror="this.src='assets/images/addphoto.png'" alt="{{ 'Company Logo' | translate }}" height="350" class="rounded img-fluid" />
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="name" class="form-label">{{ 'Company Name' | translate }}</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="vatID" class="form-label">{{ 'VAT ID' | translate }}</label>
                            <input type="text" class="form-control" id="vatID" formControlName="vatID">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">{{ 'Email' | translate }}</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="address" class="form-label">{{ 'Address' | translate }}</label>
                            <input type="text" class="form-control" id="address" formControlName="address">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="postal" class="form-label">{{ 'Postal Code' | translate }}</label>
                            <input type="text" class="form-control" id="postal" formControlName="postal">
                        </div>
                        <div class="col-md-6">
                            <label for="city" class="form-label">{{ 'City' | translate }}</label>
                            <input type="text" class="form-control" id="city" formControlName="city">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="country">{{ 'Country' | translate }}</label>
                            <input list="countries" id="country" formControlName="country" name="country" class="form-control">
                            <datalist id="countries">
                                @for(c of countries; track c.id) {
                                <option value="{{c.countryName}}">
                                    }
                            </datalist>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="phone" class="form-label">{{ 'Phone' | translate }}</label>
                            <input type="text" class="form-control" id="phone" formControlName="phone">
                        </div>
                        <div class="col-md-6">
                            <label for="web" class="form-label">{{ 'Website' | translate }}</label>
                            <input type="text" class="form-control" id="web" formControlName="web">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="iban" class="form-label">{{ 'IBAN' | translate }}</label>
                            <input type="text" class="form-control" id="iban" formControlName="iban">
                        </div>
                        <div class="col-md-6">
                            <label for="swift" class="form-label">{{ 'SWIFT' | translate }}</label>
                            <input type="text" class="form-control" id="swift" formControlName="swift">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="nkd" class="form-label">{{ 'NKD' | translate }}</label>
                            <input type="text" class="form-control" id="nkd" formControlName="nkd">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="responsible" class="form-label">{{ 'Responsible Person' | translate }}</label>
                            <input type="text" class="form-control" id="responsible" formControlName="responsible">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="additional" class="form-label">{{ 'Additional Info' | translate }}</label>
                            <textarea class="form-control" id="additional" rows="3" formControlName="additional"></textarea>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">{{ 'Save' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>