<div class="input-group">
    <dx-drop-down-button class="btn btn-sm btn-light ms-0 p-0" [icon]="'event'" [dropDownOptions]="dropdownOptions"
        [text]="''" [items]="dateRangeOptions" (onItemClick)="onPredefinedOptionClick($event)" displayExpr="text"
        keyExpr="value" [showArrowIcon]="false">
    </dx-drop-down-button>

    <dx-date-range-box id='dateRange' [showClearButton]="true" [(value)]="value" [style]="{ maxWidth: '350px'}"
        class="d-flex" [endDateLabel]="''" [startDateLabel]="''" [showDropDownButton]="false"
        (onValueChanged)="onValueChanged($event)" [startDatePlaceholder]="'StartDate' | translate"
        [endDatePlaceholder]="'EndDate' | translate">
    </dx-date-range-box>
</div>

<div class="row mt-3">
    <div class="col-3">
        <eenvo-stats-widget [dateRange]="value" [name]="'Unpaid invoices'" [data]="unpaidInvoices"
            [secondaryColor]="'bg-danger'" [color]="'bg-danger'"></eenvo-stats-widget>
    </div>
    <div class="col-3">
        <eenvo-stats-widget [dateRange]="value" [name]="'Cashflow'" [data]="cashflowData"
            [secondaryColor]="'bg-primary'"></eenvo-stats-widget>
    </div>
    <div class="col-3">
        <eenvo-stats-widget [dateRange]="value" [name]="'Income'" [data]="inflow"
            [secondaryColor]="'bg-success'"></eenvo-stats-widget>
    </div>
    <div class="col-3">
        <eenvo-stats-widget [dateRange]="value" [name]="'Net income'" [data]="netIncome" [secondaryColor]="'bg-danger'"
            [color]="'success'"></eenvo-stats-widget>
    </div>
</div>

<div class="row">
    @defer (on viewport) {
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <dx-chart palette="Soft Pastel" [dataSource]="revenueExpenseData"
                    title="{{ 'Revenue & Expense' | translate }}">
                    <dxi-series valueField="income" name="{{ 'Income' | translate }}"></dxi-series>
                    <dxi-series valueField="expense" color="red" name="{{ 'Expenses' | translate }}"></dxi-series>
                    <dxo-common-series-settings #seriesSettings argumentField="period" [type]="'spline'">
                    </dxo-common-series-settings>
                    <dxo-margin [bottom]="20"></dxo-margin>
                    <dxo-common-axis-settings>
                        <dxo-grid [visible]="true"></dxo-grid>
                    </dxo-common-axis-settings>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
                        <dxo-grid [visible]="true" [opacity]="0.3"></dxo-grid>
                        <dxo-label>
                            <dxo-format type="decimal"></dxo-format>
                        </dxo-label>
                    </dxo-argument-axis>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="incomeTooltip">
                    </dxo-tooltip>
                </dx-chart>
            </div>
        </div>
    </div>
    } @placeholder {
    <div class="spinner-border text-secondary mx-auto my-4 d-block" role="status"></div>
    }
    @defer (on viewport) {
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <dx-chart id="chart" title="{{ 'Income' | translate }}" [dataSource]="incomeData">
                    <dxo-legend [visible]="false"></dxo-legend>
                    <dxi-series type="bar"></dxi-series>
                    <dxo-argument-axis type="discrete">
                        <dxo-grid [visible]="true" [opacity]="0.3"></dxo-grid>
                        <dxo-label>
                            <dxo-format type="decimal"></dxo-format>
                        </dxo-label>
                    </dxo-argument-axis>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="incomeTooltip">
                    </dxo-tooltip>
                </dx-chart>
            </div>
        </div>
    </div>
    }@placeholder {
    <div class="spinner-border text-secondary mx-auto my-4 d-block" role="status"></div>
    }
    @defer (on viewport) {
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <dx-pie-chart id="pie" type="doughnut" title="{{ 'Income per customer' | translate }}"
                    palette="Soft Pastel" [dataSource]="invoicesPerCustomer">
                    <dxi-series argumentField="name">
                        <dxo-label [visible]="true" format="#,##0.00">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                </dx-pie-chart>
            </div>
        </div>
    </div>
    }@placeholder {
    <div class="spinner-border text-secondary mx-auto my-4 d-block" role="status"></div>
    }
    @defer (on viewport) {
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <dx-pie-chart id="pie" type="doughnut" title="{{ 'Expenses per customer' | translate }}"
                    palette="Soft Pastel" [dataSource]="expensesPerCustomer">
                    <dxi-series argumentField="name">
                        <dxo-label [visible]="true" format="#,##0.00">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                </dx-pie-chart>
            </div>
        </div>
    </div>
    }@placeholder {
    <div class="spinner-border text-secondary mx-auto my-4 d-block" role="status"></div>
    }
    @defer (on viewport) {
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <dx-pie-chart id="pie" type="doughnut" title="{{ 'Income per category' | translate }}"
                    palette="Harmony Light" [dataSource]="invoicesPerCategory">
                    <dxi-series argumentField="name">
                        <dxo-label [visible]="true" format="#,##0.00">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                </dx-pie-chart>
            </div>
        </div>
    </div>
    }@placeholder {
    <div class="spinner-border text-secondary mx-auto my-4 d-block" role="status"></div>
    }
    @defer (on viewport) {
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <dx-pie-chart id="pie" type="doughnut" title="{{ 'Expenses per category' | translate }}"
                    palette="Harmony Light" [dataSource]="expensesPerCategory">
                    <dxi-series argumentField="name">
                        <dxo-label [visible]="true" format="#,##0.00">
                            <dxo-connector [visible]="true"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
                </dx-pie-chart>
            </div>
        </div>
    </div>
    }@placeholder {
    <div class="spinner-border text-secondary mx-auto my-4 d-block" role="status"></div>
    }
</div>