.abs-bottom {
    position: absolute;
    bottom: 0;
}

.version-badge {
    position: absolute;
    top: 45px;
    right: 7px;
}

.version-badge-sm {
    position: absolute;
    top: 56px;
    right: 0%;
}