<div class="row">
    <div class="col-lg-6 mx-auto col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">{{ 'Company Settings' | translate }}</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="settingsForm" (ngSubmit)="submit()" class="container mt-4">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="currency" class="form-label">{{ 'Default Currency' | translate }}</label>
                            <input list="currencies" id="currency" formControlName="currency" class="form-control" placeholder="{{ 'Select currency' | translate }}">
                            <datalist id="currencies">
                                @for(currency of currencies; track currency.code) {
                                    <option value="{{currency.symbol}}">{{currency.name}} ({{currency.symbol}})</option>
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="numberFormat" class="form-label">{{ 'Number Format' | translate }}</label>
                            <select class="form-select" id="numberFormat" formControlName="numberFormat">
                                @for(format of numberFormats; track format.id) {
                                    <option [value]="format.id">{{format.format}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="timeZone" class="form-label">{{ 'Time Zone' | translate }}</label>
                            <input list="timezones" id="timeZone" formControlName="timeZone" class="form-control" placeholder="{{ 'Select timezone' | translate }}">
                            <datalist id="timezones">
                                @for(zone of timeZones; track zone.id) {
                                    <option value="{{zone.id}}">{{zone.name}}</option>
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="dateFormat" class="form-label">{{ 'Date Format' | translate }}</label>
                            <select class="form-select" id="dateFormat" formControlName="dateFormat">
                                @for(format of dateFormats; track format.id) {
                                    <option [value]="format.id">{{format.display}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary" [disabled]="!settingsForm.valid">
                            {{ 'Save' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>