.dropdown-toggle::after {
    display: none;
}

/* PrimeNG Light Theme Overrides - only when NOT in dark mode */
html:not([data-bs-theme="dark"]) td, .p-button-icon-only  {
    background-color: #ffffff !important;
}

html:not([data-bs-theme="dark"]) .p-button-icon-only {
    background-color: #ffffff !important;
    color: #1e81cc !important
}

html:not([data-bs-theme="light"]) td, .p-button-icon-only {
    background-color: #17191a !important;
}

html:not([data-bs-theme="light"]) .p-button-icon-only {
    color: #1e81cc !important
}

.page-content {
    padding: calc(70px + 1.5rem) calc(1.5rem * 0.5) 1.5rem calc(1.5rem * 0.5) !important;
}

// sidebar collapsed fixes: behave like expanded (no page expanding, stay in scrollable area)
@media (min-width: 768px) {
    [data-layout=vertical][data-sidebar-size=sm] {
        min-height: unset;
    }
}

[data-layout=vertical][data-sidebar-size=sm] .navbar-menu {
    .simplebar-content-wrapper {
        overflow-x: hidden !important;
        position: fixed;

        max-height: calc(100vh - (70px + 25px)) !important; // .navbar-menu padding .navbar-menu pading-top
    }

    position: fixed;

    ul.navbar-nav>li {
        width: 70px;

        &:hover {
            width: calc(190px + 70px);
        }

        &:last-child {
            .menu-dropdown {
                display: inline-block !important;
                position: relative !important;
                opacity: 0;

                // .menu-dropdown default classes
                width: 70px;
                width: 200px;
                padding: 0.5rem 0;
            }
        }

        &:hover .menu-dropdown {
            opacity: 1;
        }
    }
}

// expand/scale page content to full page
.contain {
    min-height: 375px;
    position: relative !important;
    overflow: hidden !important;

    // contains grids and lists in a way that they do not grow over the parent element (inner content scroll)
    // needs to have parent with set height
    .contain-grid {
        width: 100% !important;
        height: 100% !important;
        position: absolute !important;
    }
}

.h-grow {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.main-content {
    height: 100vh;

    .page-content {
        height: 100%;
    }
}

.animation-fade-up {
    animation: fadeInUp 0.2s none linear;
}

.simplebar-x {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;

    overflow-x: auto;

    /* Firefox */
    scrollbar-width: none;

    /* IE and Edge */
    -ms-overflow-style: none;

    /* Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    .simplebar-track.simplebar-horizontal {
        left: 0;
        height: 8px !important;
    }

    .simplebar-wrapper {
        .simplebar-content {
            display: flex;
        }

        .simplebar-content-wrapper {
            align-content: center;
        }
    }
}

.onhover {
    display: none !important;
}

.show-onhover {
    &:hover {
        .onhover {
            display: inline-flex !important;
        }
    }
}

.btn {
    i {
        align-self: center;
    }
}

[data-sidebar-size="sm"] {
    .button-container {
        flex-direction: column;
    }
}

.p-button-sm.p-button-icon-only {
    height: 20px;
}

.table-container {
    height: 100%;
}