
.dropdown-toggle::after {
    display:none;
}

/* .btn-primary {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.btn-primary {
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   display: block;
 }

 .btn-primary:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }
 */

 dx-tag-box {
    height: 40px;
 }